.dropdownSection {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: auto;
}

.dropdownSection > div {
  display: flex;
  width: 100%;
}

.dropdownSection > div > button {
  display: block;
  flex-grow: 1;
}

.dropdownSection > div > ul {
  top: 100%;
  height: 100px;
}

.dropdownSection > div > button:disabled {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
  opacity: 1;
}
